.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
}

input:focus {
  outline-color: #2563eb;
}

input:hover {
  border-color: #2563eb;
}

input[type="submit"] {
  margin-top: 10px;
  background: #2563eb;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #1d4ed8;
}

input[value="Simpan"] {
  background-color: green;
}
input[value="Simpan"]:hover {
  background-color: green;
  opacity: 0.7;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: #1d4ed8;
}
.link:hover {
  color: #2563eb;
}

.btn-keluar {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  width: 100%;
  background: #f44336;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-button:hover {
  color: #2563eb;
}
