body {
  padding: 0px;
  padding-top: 60px;
}
.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  flex: 1;
}

.description {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

th,
td {
  padding: 20px;
  text-align: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
}

.btn-keluar {
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  width: 500px;
  height: 50px;
  background: #f44336;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}
input[type="submit"] {
  width: 500px;
  height: 50px;
}
